* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #dfe6e9;
  padding: 32px;
  color: #1f1f1f;
}

header {
  padding-top: 32px;
}

.search {
  border-bottom: 1px solid #1f1f1f;
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 16px;
  width: 240px;
  height: 300px;
  margin: 32px 16px 0 0;
  float: left;
  text-align: center;
}

.card h1 {
  font-size: 22px;
  padding-top: 16px;
}

.card p {
  font-size: 16px;
  margin-bottom: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #1f1f1f;
}

input {
  margin: 24px 16px 32px 0;
  height: 40px;
  padding: 16px;
  width: 20%;
}

button {
  height: 40px;
  width: 5%;
  color: #fff;
  background-color: #0984e3;
  border: 0;
  border-radius: 8px;
}